body{
    background:lavender;
    text-align:center;
}
.button{
  background:black;
  color:white;
  padding:10px;
  font-size:1em;
  border:2px;
  margin-top:20px;
  margin-right:0px;
}

